body {
    width: 80%;
    min-width: 400px;
    max-width: 960px;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}
body {
    animation: opac 1s;
}
@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    font-size: 0.8em;
}

img {
    margin: 10px;
    width: 50%;
}
img.titleImage {
    width: 40%;
    min-width: 200px;
    max-width: 576px;
    margin-top: 5%;
}

p {
    width: 60%;
    min-width: 360px;
    display: inline-block;
    line-height: 1.5rem;
}
p#result {
    height: 3rem;
}

a {
    color: #1e1e1e;
}

hr {
    margin: 1.5rem;
}

input {
    height: 2em;
    font-size: 1em;
    font-family: "Noto Sans", sans-serif;
}
[id="input"]input[type="text"] {
    width: 36%;
    min-width: 200px;
}
